*{
 padding: 0%;
 margin: 0%;
}
.header{
  background-color: rgb(33,37,41);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: aliceblue
}

Link {
 text-decoration: none!important;;
 text-decoration-style: none;
 font-size: 30px;
 color: aqua;
 text-underline-offset: none;
 font-style: inherit;

}

